@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background: #e0e5ec;
}

#menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

img {
    height: 250px;
    width: 80%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#navbar {
    background: rgb(1, 21, 28);
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-size: 2rem;
    padding-right: 20px;
    height: 10vh;
}

a {
    text-decoration: none;
    color: white;
}

#login_id,
#signup_id {
    cursor: pointer;
}

.addcart {
    color: white;
    background-color: #e8960a;
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.addcart:hover {
    background-color: #d28602;
}

.cartimg {
    margin: auto;
    height: 35px;
    width: 35px;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 70%;
    margin-left: 40px;
    /* margin:auto; */
}

#total-div {
    transform: translateX(80vw) translateY(10vh);
}

#totalamount {
    color: rgba(0, 107, 0, 0.745);
    font-size: 24px;
}

#checkme {
    background-color: rgb(0, 21, 255);
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: cursive;
    cursor: pointer;
    transform: translateX(80vw) translateY(20vh);
    /* margin-left: 80vw;
margin-top:-20vh; */
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
}

.removemyself {
    background-color: crimson;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
    font-weight: 550;
    cursor: pointer;
}

#myback {
    height: 100px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: darkcyan;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

#myback>img {
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 60px;
}

h2 {
    /* font-family: 'Yuji Boku', serif; */
    font-family: Andale Mono, monospace;
    font-weight: 400;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}


/* 6 */

.btn-6 {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow: -1px -1px 20px 0px rgba(255, 255, 255, 1), -4px -4px 5px 0px rgba(255, 255, 255, 1), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}