<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../style/index.css">
</head>

<style></style>

<body>
    <div id="navbar">
        <!--Add navbar divs here-->
        <div id="login_id">Login</div>
        <div id="signup_id">signup</div>
        <!-- <div><a href="./bucket.html" target="_self">bucket</a></div> -->
        <!-- Link to bucket.html -->
        <div>Total items: </div>
        <div id="coffee_count">0
            <!--Show total number of coffee added to bucket here, do not add anything only Total count. Not even "Count - 5" but  only number like this "5" -->
        </div>
    </div>
    <div id="myback"><img src="../images/back.gif">Menu page</div>
    <div id="total-div">

        <h3 id="totalamount">Total Amount</h3>
        <h3 id="totalp">
            <!--Show bucket total here, do not add anything only Total value. Not even "Total - 1200Rs" but like this "1200" -->
        </h3>
    </div>
    <!-- checkout link  -->
    <button id="checkme">checkout</button>

    <div id="container">
        <!--Show all coffee added to bucket here-->
        <!-- add an remove button to each coffee so that you can remove that item from bucket, give the button HTML id as 'remove_coffee' -->
    </div>


</body>

</html>
<script src="../scripts/bucket.js"></script>