<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../style/signup.css">
</head>
<body>
    <div id="navbar">
        
    </div>
    <div id="mybody">
    <div class="container"><div><h1>Sign Up</h1></div>
                           <form class="child1">
                            <p class="p1">Full Name</p><input type="text" required placeholder="Enter your full name" id="name">
                            <p class="p1">Email:</p><input type="email" required placeholder="Enter Email" id="email"><br><br>
                            <p class="p1">Password:</p><input type="password" required placeholder="Enter Password" id="password">
                            <input class="butt1" type="submit" value="SIGN Up" id="submit">
                            <p class="lastline">Already have an account? <a href="../component/login.html" class="signup">Log in</a></p>
                           </form>
                            
    </div>
</div>
</body>
</html>
<script src="../scripts/signup.js"></script>